<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tesseract Platform">
    <meta name="author" content="John Li">
    <title>{% block title %}{% endblock title %}</title>
    {% block css_links %}
    {% endblock css_links %}
</head>
<body {% block body_tag %}{% endblock body_tag %}>
{% block body_content %}{% endblock body_content %}
{% block customized_scripts %}{% endblock customized_scripts %}
</body>
</html>