{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block css_links %}
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/sb-admin.css" rel="stylesheet">
    <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="../static/css/4-col-portfolio.css" rel="stylesheet">
{% endblock css_links %}

{% block body_tag %}
    class="fixed-nav sticky-footer bg-dark" id="page-top"
{% endblock body_tag%}

{% block body_content %}
    {% block nav_bar %}
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
{#            <a class="navbar-brand" href={{ url_for('dashboard') }}>Tesseract Platform</a>#}
              <a class="navbar-brand" href={{ url_for('dashboard') }}><img src={{ url_for('static', filename="images/tesseract_banner.png") }}></a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav navbar-sidenav" id="tesseractSideBar">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                  <a class="nav-link" href={{ url_for('dashboard') }}>
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="AI Instances">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseInstance" data-parent="#tesseractSideBar">
                    <i class="fa fa-fw fa-cubes"></i>
                    <span class="nav-link-text">AI Instances</span>
                  </a>
                  <ul class="sidenav-second-level collapse" id="collapseInstance">
                    <li>
                      <a class="nav-link" href={{ url_for('new_instance') }}>
                        <i class="fa fa-fw fa-plus"></i>
                        <span class="nav-link-text">Create Instance</span>
                      </a>
                    </li>
                    <li>
                      <a class="nav-link" href={{ url_for('instance_mgmt') }}>
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Manage Instances</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="AI Images">
                  <a class="nav-link" href={{ url_for('images') }}>
                    <i class="fa fa-fw fa-database"></i>
                    <span class="nav-link-text">AI Images</span>
                  </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Hardware Information">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseHW" data-parent="#tesseractSideBar">
                    <i class="fa fa-fw fa-info-circle"></i>
                    <span class="nav-link-text">Hardware Information</span>
                  </a>
                  <ul class="sidenav-second-level collapse" id="collapseHW">
                    <li>
                      <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-desktop"></i>
                        <span class="nav-link-text">System Information</span>
                      </a>
                    </li>
                    <li>
                      <a class="nav-link" href={{ url_for('gpu_info') }}>
                        <i class="fa fa-fw fa-microchip"></i>
                        <span class="nav-link-text">GPU Information</span>
                      </a>
                    </li>
                  </ul>
                </li>



                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsers" data-parent="#tesseractSideBar">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nav-link-text">Users</span>
                  </a>
                  <ul class="sidenav-second-level collapse" id="collapseUsers">
                    <li>
                      <a class="nav-link" href="add_user.html">
                        <i class="fa fa-fw fa-plus"></i>
                        <span class="nav-link-text">Create User</span>
                      </a>
                    </li>
                    <li>
                      <a class="nav-link" href="manage_users.html">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Manage Users</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logs">
                  <a class="nav-link" href={{ url_for('logs') }}>
                    <i class="fa fa-fw fa-file-text"></i>
                    <span class="nav-link-text">Logs</span>
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                  <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">System Messages
                      <span class="badge badge-pill badge-warning">6 New</span>
                    </span>
                    <span class="indicator text-warning d-none d-lg-block">
                      <i class="fa fa-fw fa-circle"></i>
                    </span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">System Messages:</h6>
                    {% for msg in systemlog %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="text-info">  <!-- text_type could be text-info, text-warning, text-danger, text-->
                        <strong>
                          <i class="fa fa-long-arrow-up fa-fw"></i>{{msg.brief_info}}</strong>
                      </span>
                      <span class="small float-right text-muted">{{msg.timestamp}}</span>
                      <div class="dropdown-message small">{{msg.detail_info}}</div>
                    </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href={{ url_for('logs') }}>View All System Messages</a>
                  </div>
                </li>
                <li class="nav-item">
                  <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                      <input class="form-control" type="text" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </form>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
              </ul>
            </div>
          </nav>
    {% endblock nav_bar %}
    <div class="content-wrapper">
        <div class="container-fluid">

    {% block main_container %}
    {% endblock main_container %}

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright© 2017 AMAX Information Technologies, Inc. All Rights Reserved</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Logout Confirm</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Are you really want to logout Tesseract Platform?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href={{ url_for('logout') }}>Logout</a>
          </div>
        </div>
      </div>
    </div>

{% endblock body_content %}

{% block layout_scripts %}
    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
    <script>
    $('#toggleNavPosition').click(function() {
      $('body').toggleClass('fixed-nav');
      $('nav').toggleClass('fixed-top static-top');
    });

    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
    $('#toggleNavColor').click(function() {
      $('nav').toggleClass('navbar-dark navbar-light');
      $('nav').toggleClass('bg-dark bg-light');
      $('body').toggleClass('bg-dark bg-light');
    });

    </script>
{% endblock layout_scripts%}

{% block customized_scripts %}{% endblock customized_scripts %}

    </div>